* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-background: #1f2937;
    --header-secondary: #e5e7eb;
    --accent-color: #3882f6;
    --text-quote: #1f2937;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    /* temporary background */
    background-color: var(--dark-background);
    color: #ffffff;
}

.navbar .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #f9faf8;
}

.navbar .items a {
    font-size: 18px;
    color: var(--header-secondary);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.navbar .items a:hover {
    color: #ffffff;
    background-color: #0e1826;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 460px;
    /* temporary background */
    background-color: var(--dark-background);
    color: #ffffff;
}

.hero-container .hero-left {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.hero-container .hero-left h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-container .hero-left p {
    color: var(--header-secondary);
    margin-bottom: 1.25rem;
}

.hero-container .hero-left button {
    padding: 10px 0;
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}

.hero-container .hero-left button:hover {
    cursor: pointer;
    background-color: #4993f7;
}

.hero-container .hero-right img {
    max-width: 500px;
    height: auto;
    border-radius: 20px;
}

/* Space for Information */
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10%;
    max-width: 1200px;
    margin: 0 auto;
}

#info .main-text {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2rem;
}

#info .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

#info .cards .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#info .cards .card-item img {
    border: 4px solid var(--accent-color);
    border-radius: 10%;
    width: 200px;
    margin-bottom: 0.5rem;
}

#info .cards .card-item p {
    padding: 4px;
}

#quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5rem 10%;
    background-color: var(--header-secondary);
}

#quote .quotation {
    font-style: italic;
    font-size: 36px;
    color: var(--text-quote);
    max-width: 1000px;
    justify-content: center;
    margin: 1.125rem auto;
}

#quote .author {
    font-size: 24px;
    max-width: 1000px;
    align-self: flex-end;
}